<% layout("/layouts/boilerplate") %>
<br />
<div class="row">
  <div class="col-8 offset-2">
    <h3 class="text-center fs-2">Edit a listing</h3>
    <br />
    <!-- yaha ?_method=PUT iss liye likhe h ejs bs get post support krta h is liye hm method-override package use kr rhe h  -->
    <form
      method="POST"
      action="/listings/<%= userListing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          placeholder="enter title"
          value="<%=userListing.title %>"
          required
          class="form-control shadow-none"
        />
        <div class="invalid-feedback">Title should be valid</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          placeholder="enter description"
          class="form-control shadow-none"
          required
        >
       <%=userListing.description %> </textarea
        >
        <div class="invalid-feedback">Enter short description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Existing Listing Image</label>
        <div class="mb-2">
          <img
            src="<%= originaImage %>"
            alt="current listing"
            style="width: 150px;  height: 100px; border-radius: 8px; "
            class="img-thumbnail"
          />
        </div>

        <label for="image" class="form-label"
          >Upload New Image (Optional)</label
        >
        <input
          type="file"
          name="image"
          id="image"
          class="form-control shadow-none"
        />
        <div class="form-text">
          Leave blank if you don't want to change the image.
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="price"
            placeholder="enter price"
            value="<%=userListing.price %>"
            required
            class="form-control shadow-none"
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="country"
            placeholder="enter country"
            value="<%=userListing.country %>"
            required
            class="form-control shadow-none"
          />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          placeholder="enter location"
          value="<%=userListing.location %>"
          required
          class="form-control shadow-none"
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <button class="btn bg-secondary text-white fs-56 mb-2 px-5 shadow-none">
        Edit
      </button>
    </form>
  </div>
</div>
