<% layout("/layouts/boilerplate") %>
  <body>
    <%= success %>
    <h3>All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
       <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listings-links">
    <div class="card col">
  <img 
  src="<%= listing.image.url ? listing.image.url : 'https://images.unsplash.com/photo-1625505826533-5c80aca7d157?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=60' %>" 
  class="card-img-top" 
  style="height:20rem;" 
  alt="listings-image"
>

  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
      <%= listing.title %> <br>
       &#8377; <%= listing.price.toLocaleString("en-IN") %>/night 
    </p>
  </div>
</div>
      </a>
<% } %>

    </div>

   


    <!-- <ul>
      <% for(let listing of allListings){ %>
      <li>
        <a href="/listings/<%= listing._id %> "> <%= listing.title %> </a>
      </li>

      <% } %>
    </ul> -->
  </body>
</html>
